* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

a {
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    color: rgba(224, 224, 224, 0.5);
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
}

.title {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #E0E0E0;
    text-transform: uppercase;

    span {
        font-weight: 500;
        font-size: 32px;
        line-height: 38px;
        color: #E0E0E0;
        text-transform: uppercase;
    }
}

.section {
    background: #1A1E23;

    padding-top: 50px;
    padding-bottom: 8px;

    &__page {
        display: flex;
        padding-bottom: 72px;
        align-items: center;
    }

    &__logo {
        font-size: 32px;
        line-height: 38px;
        color: #E0E0E0;

        border-radius: 50%;
        min-width: 46px;
        min-height: 46px;
        width: 46px;
        height: 46px;
        border: 1px solid rgba(224, 224, 224, 0.5);

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        vertical-align: middle;
    }

    &__block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-left: 24px;

        hr {
            background: rgba(224, 224, 224, 0.5);
            width: 100%;
            height: 1px;
            align-self: center;
            margin: 6px 0;
        }
    }

    &__title {
        height: 23px;
        font-size: 20px;
        line-height: 23px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.7);
    }

    &__text {
        content: '';
        border-bottom: #DF9130;
        width: 100%;
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;

    &__title {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        font-variant: small-caps;
        color: #E0E0E0;
    }

    &__input {
        width: 339px;
        background: #333940;
        height: 47px;
        padding: 18px;

        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: rgba(224, 224, 224, 0.5);

        p {
            font-weight: 600;
            font-size: 11px;
            line-height: 13px;
            color: #AEAEAE;
            text-transform: none;

            padding-left: 8px;
        }

        &:nth-last-child(3) {
            height: 80px;
        }

        &:nth-last-child(1) {
            height: 54px;
        }
    }

    &__button {
        background: #DF9130;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 14px;

        span {
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            text-transform: uppercase;
            color: #1A1E23;
        }
    }

    &__checkbox {
        display: flex;
        background: none;
        height: auto;
        padding: 0;

        &_input {
            background: #FFFFFF;
            box-shadow: inset -1px 1px 4px rgba(0, 0, 0, 0.25);
            border-radius: 9px;
        }
    }
}

.controls {
    &__arrows {
        display: flex;
    }

    &__arrow {
        font-size: 52px;
        color: #DF9130;

        &:hover {
            cursor: pointer;
        }
    }

    &__left {
        transform: rotateY(180deg);
    }
}

.button__arrow {
    font-size: 24px;
}

.header {
    border-bottom: 2px solid #DF9130;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        margin-top: 13px;
        margin-bottom: 16px;
    }

    &__menu {
        display: flex;
        align-items: center;

        ul {
            display: flex;
            list-style: none;
        }

        li {
            padding-right: 24px;
        }

        li a {
            text-transform: uppercase;
            color: #494949;
        }
    }

    &__phone {
        display: flex;
        align-items: center;

        a {
            display: flex;
            align-items: center;

            text-transform: uppercase;
            color: #494949;
        }

        a img {
            padding-right: 11px;
        }
    }
}

.start {
    background: #1A1E23;
    padding-top: 95px;
    padding-bottom: 50px;
    z-index: 1;
    position: relative;

    &__over::before {
        content: '';
        position: absolute;
        width: 545px;
        height: 545px;
        left: -173px;
        top: 54px;
        border-radius: 50%;
        background: rgba(26, 30, 35, 0.01);
        backdrop-filter: blur(115px);
        z-index: -1;
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        font-weight: 600;
        font-size: 40px;
        line-height: 47px;
        color: #E0E0E0;

        display: flex;
        flex-direction: column;

        span {
            font-weight: 600;
            font-size: 40px;
            line-height: 47px;
            color: #E0E0E0;
        }
    }

    &__subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        color: rgba(224, 224, 224, 0.5);

        padding-top: 8px;

        &:nth-child(1) {
            max-width: 691px;
        }

        &:nth-last-child(1) {
            max-width: 491px;
        }
    }

    &__economy {
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        color: #E0E0E0;
    }

    &__materials {
        color: #E0E0E0;
    }

    &__text {
        padding-top: 8px;
    }

    &__picture {
        margin-top: 64px;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &__link {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 143px;
        height: 143px;
        border-radius: 50%;
    }

    &__image {
        position: relative;
        border-radius: 234.5px 234.5px 0px 0px;
    }

    &__img {
        height: 100%;
        width: 100%;
    }
}

.company {
    background: #1A1E23;
    padding-top: 50px;
    padding-bottom: 18px;

    &__subcontent {
        max-width: 491px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        text-transform: none;
        padding-bottom: 8px;
    }
}

.cert {
    padding-top: 50px;
    padding-bottom: 10px;

    &__content {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
    }

    &__card {
        max-width: 286px;
        margin: 0 auto;
    }

    &__name {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #E0E0E0;

        padding-top: 24px;
        padding-bottom: 8px;
    }

    &__desc {
        color: rgba(224, 224, 224, 0.5);
    }

    &__controls {
        position: relative;
    }

    &__arrows {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.service {
    padding-bottom: 50px;

    &__block {
        display: flex;
    }

    &__box {
        display: flex;
    }

    &__boxhead {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        padding-left: 16px;
        padding-right: 8px;

        border-right: 1px solid;
        border-color: rgba(224, 224, 224, 0.5);

        &:hover {
            cursor: pointer;
        }
    }

    &__page {
        padding-left: 16px;
        padding-right: 44px;
    }

    &__subtitle {
        font-size: 20px;
        line-height: 28px;
        text-transform: uppercase;
        font-variant: small-caps;
        color: rgba(224, 224, 224, 0.5);

        writing-mode: vertical-lr;
        transform: rotate(180deg);
        white-space: nowrap;
    }

    &__boxarrow {
        font-size: 21px;
        color: rgba(224, 224, 224, 0.5);
        transform: rotate(0deg);
    }

    &__content {
        display: flex;
        position: relative;
    }

    &__subcontent {
        display: flex;
        padding-left: 16px;
        flex-direction: column;
        height: 100%;
    }

    &__title {
        padding-bottom: 24px;
    }

    &__img {
        border-radius: 120px 0px 0px 0px;
    }

    &__button {
        width: 375px;
        height: 58px;
        background: #DF9130;
        border-radius: 0px 0px 30px 0px;
        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        bottom: 0;
        right: 0;

        span {
            text-transform: uppercase;
            color: #1A1E23;
            padding-right: 10px;
        }
    }
}

.price {
    padding-bottom: 43px;

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__subcontent {
        max-width: 592px;
    }

    &__text {
        padding-top: 8px;
    }

    &__text_bold {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        color: rgba(255, 255, 255, 0.7);

        padding-top: 16px;
    }

    &__img {
        padding-top: 12px;
        border-radius: 0px 79px 0px 105px;
    }

    &__form {
        .form__input {
            &:nth-child(2) {
                border-radius: 23.5px 0px 0px 0px;
            }

            &:nth-last-child(3) {
                border-radius: 0px 0px 40px 0px;
            }
        }

        .form__button {
            border-radius: 49px 0px 27px 49px;
        }
    }
}

.jobs {
    padding-bottom: 50px;

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__subcontent {
        max-width: 592px;
    }

    &__title {
        padding-bottom: 11px;
    }

    &__box {
        border-bottom: 1px solid;
        border-color: rgba(224, 224, 224, 0.5);
    }

    &__boxhead {
        padding-top: 16px;
        padding-bottom: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:hover {
            cursor: pointer;
        }
    }

    &__subtitle {
        font-size: 20px;
        line-height: 28px;
        text-transform: uppercase;
        font-variant: small-caps;
        color: rgba(224, 224, 224, 0.5);
    }

    &__boxarrow {
        font-size: 21px;
        color: rgba(224, 224, 224, 0.5);
        transform: rotate(-45deg);
    }

    &__page {
        padding-bottom: 8px;
    }

    &__row {
        display: flex;
        margin-top: 16px;
    }

    &__column {
        width: 50%;
    }

    &__picture {
        max-width: 510px;
        border-radius: 0px 0px 230px 0px;
    }

    &__controls {
        display: flex;
        justify-content: space-between;
    }

    &__button {
        width: 375px;
        height: 58px;
        background: #DF9130;
        border-radius: 0px 0px 0px 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            text-transform: uppercase;
            color: #1A1E23;
            padding-right: 10px;
        }
    }
}

.stats {
    padding-top: 50px;
    padding-bottom: 50px;
    background: url(./assets/stats-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    &__values {
        display: flex;
        justify-content: space-between;

        p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 52px;
            line-height: 63px;
            text-align: center;
            text-transform: uppercase;
            color: #1A1E23;

            width: 390px;
            height: 63px;
        }
    }

    &__descriptions {
        display: flex;
        justify-content: space-between;

        p {
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            text-align: center;
            color: #999999;

            width: 390px;
            height: 23px;
        }
    }
}

.questions {
    padding-bottom: 127px;
    background-image: url(./assets/questions-bg.svg);
    background-repeat: no-repeat;
    background-position: 190px 130px;

    &__content {
        display: flex;
        justify-content: space-around;
    }

    &__phone {
        a {
            display: flex;
            align-items: center;
            color: #DF9130;
            max-width: 190px;
            white-space: nowrap;
        }

        a span {
            margin-left: 11px;
        }
    }

    &__text {
        padding-top: 8px;
    }

    &__link {
        padding-top: 11px;
    }

    &__form {
        .form__input {
            &:nth-child(2) {
                border-radius: 0px 23.5px 0px 0px;
            }

            &:nth-last-child(3) {
                border-radius: 0px 0px 0px 40px;
            }
        }

        .form__button {
            border-radius: 0px 27px 27px 49px;
        }
    }
}

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #1A1E23;
    border-top: 1px solid #DF9130;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__subcontent {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
    }

    &__contacts {
        display: flex;
        column-gap: 27px;
        align-items: center;
    }
}



/* for JS */

.active {
    color: #E0E0E0;

    &_arrow {
        color: #DF9130;
        transform: rotate(45deg);
    }
}

.hidden {
    display: none;
}

@media (max-width: 1279px) {}

@media (max-width: 767px) {
    .wrapper {
        margin: 0 8px;
    }

    .title {
        font-size: 16px;
        line-height: 19px;
    }

    .section {
        padding-top: 0;

        &__page {
            padding-bottom: 28px;
        }

        &__logo {
            font-size: 8px;
            line-height: 9px;

            min-width: 12px;
            min-height: 12px;
            width: 12px;
            height: 12px;
        }
    }

    .header {
        display: none;
    }

    .start {
        position: relative;
        padding-top: 100px;
        padding-bottom: 24px;

        &:before {
            content: ' ';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.25;
            background-image: url(./assets/start-img.png);
            background-repeat: no-repeat;
            background-position: 50% 0;
            background-size: cover;
        }

        &__over::before {
            display: none;
        }

        &__content {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        &__title {
            font-size: 24px;
            line-height: 28px;
        }

        &__subtitle {
            /* font-weight: 400; */
            font-size: 16px;
            line-height: 19px;
        }

        &__economy {
            /* font-weight: 400; */
            font-size: 16px;
            line-height: 19px;

            padding-top: 100px;
        }

        &__materials {
            /* font-weight: 400; */
            font-size: 16px;
            line-height: 19px;
        }

        &__text {
            /* font-weight: 400; */
            font-size: 14px;
            line-height: 16px;
        }

        &__picture {
            align-items: center;
            margin-top: 110px;
        }

        &__image {
            display: none;
        }

        &__link {
            position: static;
            width: 117px;
            height: 117px;
        }

        &__component {
            width: 100%;
            height: 100%;
        }
    }

    .company__content {
        flex-direction: column;
    }

    .cert__card {
        max-width: 111px;

        img {
            max-width: 111px;
        }
    }

    .service {
        &__page {
            padding-left: 20px;
            padding-right: 0px;
        }

        &__content {
            max-width: 185px;
            flex-direction: column;
        }

        &__subcontent {
            padding: 0;
        }

        &__img {
            max-width: 185px;
            border-radius: 28.1694px 0px 0px 0px;
        }

        &__button {
            position: static;
            max-width: 185px;
        }
    }

    .price {
        &__content {
            flex-direction: column;
        }

        &__text:nth-last-child(2),
        &__text:nth-last-child(3) {
            display: none;
        }

        &__img {
            display: none;
        }
    }

    .jobs__picture {
        display: none;
    }

    .questions__content {
        flex-direction: column;
    }

    .footer {
        &__content {
            flex-direction: column;
        }

        &__subcontent {
            order: 3;
            align-items: center;
            margin-bottom: 28px;
        }

        &__contacts {
            padding-top: 32px;
            padding-bottom: 32px;
        }
    }

    .stats {
        padding-top: 10px;
        padding-bottom: 8px;

        &__values p {
            font-size: 16px;
            line-height: 20px;

            width: 122px;
            height: 20px;
        }

        &__descriptions p {
            font-size: 8px;
            line-height: 9px;

            width: 122px;
            height: 9px;
        }
    }
}

@media (max-width: 370px) {}